@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  position: relative;
}


.loader{
  position: fixed;
background-color:black;
  height:100vh;
  display: grid;
  place-items: center;
  inset:0;
  z-index:10000;
  opacity:0.9;
  animation: loader .01s;
  transform-origin: top;
  animation-duration: .5s;
  animation-fill-mode:forwards;
  animation-duration: 0.01s;
    animation-timing-function: ease;
    animation-delay: 1.75s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: loader;
}

.loader i{

  background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
  background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
 -webkit-text-fill-color:transparent;
}

@keyframes loader{

  100%{
    opacity:0;
    z-index:-10;
}
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2em;
  justify-content: center;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

/*SECTION FOOTER*/
footer {
  display: flex;
  position: absolute;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #353535;
  color: white;
  padding: 30px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 2px;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}
footer i {
  padding-right: 12px;
}

/*CITY*/
.map {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
}
.map i {
  color: #353535;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.map span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #353535;
  justify-content: center;
}

/*SECTION HERO*/
.hero {
  display: block;
  background-color: #f6f6f6;
  text-align: center;
}
.hero h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  padding: 35px;
  letter-spacing: 0;
  padding-bottom: 0;
  margin: 0;
}
.hero p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 15px;
}
.hero button {
  border: none;
  margin: 20px;
  padding: 18px 15px 18px 15px;
  width: 210px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background: #E78FE1;
  background: linear-gradient(to bottom, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  margin-bottom: 60px;
  box-shadow: 0.25rem 0.25rem 10pxrgba 0, 0, 0, 0.25;
}
.hero button:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*SECTION STEPS*/
.steps {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.steps h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin: 30px;
  align-self: start;
  margin: 30px;
}
.steps .wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2em;
  justify-content: center;
}
.steps .wrapper-grid .btn1 {
  font: 14px/2.3em trebuchet, arial;
  color: #353535;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 25px 15px;
  width: 320px;
  position: relative;
  margin: 3px auto 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  -o-box-shadow: 0 3px 5px #ccc;
  -ms-box-shadow: 0 3px 5px #ccc;
  box-shadow: 0 3px 5px #ccc;
}
.steps .wrapper-grid .btn1 .number {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -15px;
}
.steps .wrapper-grid .btn1 span {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0px;
}
.steps .btn1:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*SECTION RESTAURANTS*/
.restaurants {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #f6f6f6;
  align-content: center;
  gap: 40px;
  margin-top: 50px;
}
.restaurants h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin: 30px;
  align-self: start;
  margin-bottom: 0;
}
.restaurants .palette {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 250px;
  position: relative;
}
.restaurants .palette .new-rect {
  width: 80px;
  height: 6px;
  background-color: #99e2d0;
  padding: 12px;
  top: 1rem;
  position: absolute;
  right: 0.75rem;
}
.restaurants .palette .new-rect span {
  color: #058a6a;
  font-size: 15px;
  top: 3px;
  position: absolute;
  font-family: "Roboto", sans-serif;
}
.restaurants .palette a {
  width: 100%;
  text-decoration: none;
  color: #353535;
  letter-spacing: -1px;
  font-size: 13px;
}
.restaurants .palette #palettegout_img {
  height: 185px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .palette .descriptif_palette {
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
}
.restaurants .palette .descriptif_palette .heart {
  align-self: center;
}
.restaurants .palette .descriptif_palette .heart i {
  padding-top: 3px;
  padding-right: 10px;
}
.restaurants .palette .descriptif_palette .heart i:hover {
  color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  padding-top: 3px;
  padding-right: 10px;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.restaurants .palette .descriptif_palette h3 {
  font-size: 19px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding-left: 5px;
}
.restaurants .palette .descriptif_palette span {
  font-size: 20px;
  padding-left: 5px;
}
.restaurants .palette:hover {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}
.restaurants .note {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 250px;
  position: relative;
}
.restaurants .note .new-rect {
  width: 80px;
  height: 6px;
  background-color: #99e2d0;
  padding: 12px;
  top: 1rem;
  position: absolute;
  right: 0.75rem;
}
.restaurants .note .new-rect span {
  color: #058a6a;
  font-size: 15px;
  top: 3px;
  position: absolute;
  font-family: "Roboto", sans-serif;
}
.restaurants .note a {
  width: 100%;
  text-decoration: none;
  color: #353535;
  letter-spacing: -1px;
  font-size: 13px;
}
.restaurants .note #note_img {
  height: 185px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .note .descriptif_note {
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
}
.restaurants .note .descriptif_note .heart {
  align-self: center;
}
.restaurants .note .descriptif_note .heart i {
  padding-top: 3px;
  padding-right: 10px;
}
.restaurants .note .descriptif_note .heart i:hover {
  color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  padding-top: 3px;
  padding-right: 10px;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.restaurants .note .descriptif_note h3 {
  font-size: 19px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding-left: 5px;
}
.restaurants .note .descriptif_note span {
  font-size: 20px;
  padding-left: 5px;
}
.restaurants .note:hover {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}
.restaurants .française {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.restaurants .française a {
  width: 100%;
  text-decoration: none;
  color: #353535;
  letter-spacing: -1px;
  font-size: 13px;
}
.restaurants .française #française_img {
  height: 185px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .française .descriptif_française {
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
}
.restaurants .française .descriptif_française .heart {
  align-self: center;
}
.restaurants .française .descriptif_française .heart i {
  padding-top: 3px;
  padding-right: 10px;
}
.restaurants .française .descriptif_française .heart i:hover {
  color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  padding-top: 3px;
  padding-right: 10px;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.restaurants .française .descriptif_française h3 {
  font-size: 19px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding-left: 5px;
}
.restaurants .française .descriptif_française span {
  font-size: 20px;
  padding-left: 5px;
}
.restaurants .française:hover {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  
}
.restaurants .delice {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.restaurants .delice a {
  width: 100%;
  text-decoration: none;
  color: #353535;
  letter-spacing: -1px;
  font-size: 13px;
}
.restaurants .delice #delicesens_img {
  height: 185px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .delice .descriptif_delice {
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  margin-top: -4px;
  display: flex;
  justify-content: space-between;
}
.restaurants .delice .descriptif_delice .heart {
  align-self: center;
}
.restaurants .delice .descriptif_delice .heart i {
  padding-top: 3px;
  padding-right: 10px;
}
.restaurants .delice .descriptif_delice .heart i:hover {
  color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 10px;
  -webkit-text-fill-color: transparent;
}
.restaurants .delice .descriptif_delice h3 {
  font-size: 19px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding-left: 5px;
}
.restaurants .delice .descriptif_delice span {
  font-size: 20px;
  padding-left: 5px;
}
.restaurants .delice:hover {
  box-shadow: 30px 30px 20px rgba(5, 0, 0, 0.25);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */