@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./composants/composants";
@import "./layouts/header";
@import "./layouts/footer";

h1{
    a{
        color:black;
        text-decoration: none;
    }
}
/*BACKGROUND*/
.main{
    background-color: #f6f6f6;
}
.block-image{
    @include block-image;
    #img-menu{
     object-position: top;
    }
 }
        .plats-btns{
            background-color:#f6f6f6;
            margin-top: 0;
            border-radius: 50px 50px 0 0;
            position:relative;
            margin-top:210px;
            
  


            h2{
                font-family:$header-ffamily;
                font-weight: 500;
                padding-left: 20px;
                padding-top: 30px;
                
            }
            h3{
                font-weight: 100;
                padding-left: 15px;
                width   : 200px; 
                position: relative;
                z-index : 1;
            }


        .btn-menu{
            @include btn;
            @include flex-column;
            background-color: white;
            height: 65px;
            padding-top:30px;
            transition : .2s;
            margin-bottom: 15px;
            width:350px;
            animation-delay:.3s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .text-menu{
                flex-flow: column wrap;      
                line-height: 13px;
                justify-content: center;
                width: 100%;
                cursor:pointer;
                display: inline-block;
                position:relative;
                text-overflow: ellipsis;
               
                h4{
                @include h4_font;
                text-align: left;
                }
                .descriptif-menu{
                    @include flex_row;
                    justify-content: space-between;
                    width:100%;

                    .animation-rect{
                    display:center;
          
                        margin:-38px -120px -10px 10px;
                        width: 70px;
                        height: 63px;
                        background-color: #99E2D0;
                        transition: 0.3s linear;

                        i{
                        color: white;
                        margin-top:25%;
                        animation-duration: 0.8s;
                        animation-iteration-count: 2
                        ;
             
                    
                        }
                    }

                        p{
                            font-weight: bold;
                           align-self: flex-end;
                           text-align: right;
                        }
                    }

    
                }

                &:last-child{
                    margin-bottom:0px;
                
                }
            }
.btn-menu:hover{
    
    .text-menu{
   
    h4{
        
        white-space: nowrap;
        text-overflow : ellipsis;
     
    }
        .descriptif-menu{
       
            p{
                transform: translateX(-60px);
           
                transition: 0.3s ease-in-out;   
                white-space: nowrap;
                text-overflow : ellipsis;
                overflow: hidden;
                float:right;
                position:relative;
                left:30px;
                
            }

            span{
    
            
                white-space: nowrap;
                text-overflow : ellipsis;
                overflow: hidden;
                width:200px;
                text-align: left;
                text-align: justify; 
               
               
            }
            
        }
       
        }
        
    .animation-rect{
          
        background:red;
        transform: translateX(-100px);
        border-radius: 0 20px 20px 0;    

        i{
            transition: all 0.3s ease-in-out 2s;
        }
    }

}

   
        }
            
            .btn-cmder{
                background-color: #f6f6f6;
                text-align: center;
        
                .Commander{
                    
            @include grad-button-purple;
            @include grad-button;
            margin-top: 50px;
            margin-bottom: 80px;
                }
            }
        
    
     