@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./composants/composants";
@import "./layouts/header";
@import "./layouts/footer";
header{
    .header_arrow{
    
        i{
            position: absolute;
            left: 2rem;
            height: 2rem;
            width: 2rem;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            font-size: 24px;
            color: #000;
        }
    h1{
        a{
            color:black;
            text-decoration: none;
        }
    }
    }
    }
/*BACKGROUND*/
.main{
    background-color: #f6f6f6;
}
.block-image{
    @include block-image;
    #img-menu{
     object-position: top;
    }
 }
        .plats-btns{
            background-color:#f6f6f6;
            margin-top: 0;
            border-radius: 50px 50px 0 0;
            position:relative;
            margin-top:210px;
            padding-left: 25px;
            padding-right: 25px;
            
            .title-menu{
                display:flex;
                @include flex_row;
                align-items: center;
                justify-content: space-between;

                .heart{
                    align-self: flex-end;
                     font-size: 12px;
                    padding-bottom: 8px;
}

                .heart:hover{
                    align-self: flex-end;
                    font-size: 12px;
                    padding-bottom: 8px;

                    i{
                        padding-top: 3px;
                        padding-right: 10px;
                
                    }
                    i:hover{
                        color:-webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
                        background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
                        background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%); ;
                        background-clip: text;
                        -webkit-background-clip: text;
                        font-weight:bold;
                        padding-right: 2px;
                        -webkit-text-fill-color: transparent;
                  
                        
                
                    }
                }
                }
            }  
  


            h2{
                font-family:$header-ffamily;
                font-weight: 500;
                padding-left: 20px;
                padding-top: 30px;
                
            }
            h3{
                font-weight: 100;
            
                width   : 50px; 
                position: relative;
                z-index : 1;
                border-bottom: 3px solid #b5e8db;
            }


        .btn-menu{
            @include btn1;
            @include flex-column;
            background-color: white;
            height: 65px;
            padding-top:30px;
            margin-bottom: 15px;
            width:350px;
            overflow: hidden;
            text-overflow: ellipsis;
            animation-fill-mode: both;
            animation: fadein 2s;
            transform: translateY(20px);
            transform: translateY(10%);
           
           
        
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }


            .text-menu{
                flex-flow: column wrap;      
                line-height: 25px;
                justify-content: center;
                width: 100%;
                cursor:pointer;
                display: inline-block;
                position:relative;
                text-overflow: ellipsis;
                padding-bottom: 10px;
               
                h4{
                @include h4_font;
                text-align: left;
                }
                .descriptif-menu{
                    @include flex_row;
                    justify-content: space-between;
                    width:100%;

                    .animation-rect{
                        
                        display:inline-flex;
                        margin:-38px -120px -10px 10px;
                         width: 60px;
                         height: 65px;
                        background-color: #99E2D0;
                        justify-content: center;
                        align-items: center;
                     
                            i{
                            color: white;
                            display: flex;
                            align-self: center;
            
                        
                            }
                        }

                    .piment{
                        width:40%;
                        text-align: right;
                        font-weight: bold;
                    }

                    .canard{
                        width:25%;
                        text-align: right;
                        font-weight: bold;
                    }
                    .oeuf{
                        width:10%;
                        text-align: right;
                        font-weight: bold;
                    }
                    .boeuf{
                        width:9%;
                        text-align: right;
                        font-weight: bold;
                    }
                    .parmentier{
                        width:5%;
                        text-align: right;
                        font-weight: bold;
                    }
                    .turbot{
                        width:60%;
                        text-align: right;
                        font-weight: bold;
                    }
                    .carotte{
                        width:25%;
                        text-align: right;
                        font-weight: bold;
                    }

                    .paris{
                        width:70%;
                        text-align: right;
                        font-weight: bold;
                    }

                    
                    .macaron{
                        width:15%;
                        text-align: right;
                        font-weight: bold;
                    }

                    .mousse{
                        width:10%;
                        text-align: right;
                        font-weight: bold;
                    }
              
                        p{
                            font-weight: bold;
                           align-self: flex-end;
                           text-align: right;
                        }
                    }

    
                }

                &:last-child{
                    margin-bottom:0px;
                
                }
            }

        
         
        
            .dish-1{
                animation:slide-in 1s linear forwards;
                animation-duration: 0.3s;

            }
                
            .dish-2{
                 animation:slide-in 0.7s 0.1s linear forwards;
                animation-duration: 0.3s;
        
                }
            
            .dish-3{
                animation:slide-in 0.7s 0.2s linear forwards;
                animation-duration: 0.3s;
   
            }
            
            .dish-4{
                animation:slide-in 0.7s 0.3s linear forwards;
                animation-duration: 0.3s;

                    
                }
            
            .dish-5{
                animation:slide-in 0.7s 0.4s linear forwards;
                animation-duration: 0.3s;

            
            }
            .dish-6{
                animation:slide-in 0.7s 0.5s linear forwards;
                animation-duration: 0.3s;

            }
            .dish-7{
                animation:slide-in 0.7s 0.6s linear forwards;
                animation-duration: 0.3s;
            
            
            }
            .dish-8{
                animation:slide-in 0.7s 0.7s linear forwards;
                animation-duration: 0.3s;

            }
            .dish-9{
                animation:slide-in 0.7s 0.8s linear forwards;
                animation-duration: 0.3s;
                
            }

            @keyframes slide-in {

                100%{
                    transform: translateX(0%);
                }
                
            }
.btn-menu:hover{
    

    .text-menu{

    h4{
        
        white-space: nowrap;
        text-overflow : ellipsis;
     
    }
        .descriptif-menu{
       
            .piment{
                width:25%;
                text-align: left;
                
            }
            .canard{
                width:25%;
                text-align: left;
                
            }

            .oeuf{
                width:25%;
                text-align: left;
                
            }
            .boeuf{
                width:25%;
                text-align: left;
                
            }
            .parmentier{
                width:25%;
                text-align: left;
                
            }

            .turbot{
                width:25%;
                text-align: left;
                
            }

            .paris{
                width:25%;
                text-align: left;
                
            }

            .macaron{
                width:25%;
                text-align: left;
                
            }

            
            .mousse{
                width:25%;
                text-align: left;
                
            }
            p{
                transform: translateX(-60px);
           
                transition: 0.3s ease-in-out;   
                white-space: nowrap;
                text-overflow : ellipsis;
                overflow: hidden;
                float:right;
                position:relative;
                left:30px;
                
            }

            span{
    
            
                white-space: nowrap;
                text-overflow : ellipsis;
                overflow: hidden;
                width:200px;
                text-align: left;
                text-align: justify; 
               
               
            }
            

            .animation-rect{
                transform: translateX(-100px);
                border-radius: 0 20px 20px 0;    
        
                i{
                    color: white;
                    align-self: center;
                    padding-left: 25%;
                    padding-right: 25%;
                    animation: quarterspin .8s ease-in;
                    transform-origin:center;
                    transition-duration: 0.6s;
                    animation-duration: 1s;
                    animation-timing-function:cubic-bezier(0.25, 0.46, 0.45,1);
                    @keyframes quarterspin {
                        0%{
                            transform: rotate(-360deg);
                            opacity: 1;
                        }
                        100%{
                            transform:rotate(0);
                            opacity: 1;
                        }
                    }
                }
            }
            
        }
       
        }


}

   
        
            
            .btn-cmder{
                background-color: #f6f6f6;
                text-align: center;
        
                .Commander{
                  
            margin-top: 50px;
            margin-bottom: 80px;
                }
            }
        
    
     
 .btn-menu:last-child{
    margin-bottom: 50px;
 }