* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  position: relative;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  padding: 35px;
  letter-spacing: 0;
  padding-bottom: 0;
  margin: 0;
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 15px;
}

.gradient-purple {
  background: #E78FE1;
  background: linear-gradient(to bottom, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2px;
  justify-content: center;
}

/*BOUTON FONCTIONNEMENT*/
.btn1 {
  font: 14px/2.3em trebuchet, arial;
  color: #353535;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 25px 15px;
  width: 320px;
  position: relative;
  margin: 3px auto 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  -o-box-shadow: 0 3px 5px #ccc;
  -ms-box-shadow: 0 3px 5px #ccc;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*BOUTON DE BASE HERO*/
.btn-model {
  border: none;
  margin: 20px;
  padding: 18px 15px 18px 15px;
  width: 210px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: all 400ms;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

/*SECTION FOOTER*/
footer {
  display: flex;
  position: absolute;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #353535;
  color: white;
  padding: 30px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 2px;
  padding-bottom: 10px;
  text-align: left;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}
footer i {
  padding-right: 12px;
}

header .header_arrow i {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 24px;
  color: #000;
}
header .header_arrow h1 a {
  color: black;
  text-decoration: none;
}

/*BACKGROUND*/
.main {
  background-color: #f6f6f6;
}

.block-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.block-image #img-menu {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-image #img-menu {
  -o-object-position: top;
     object-position: top;
}

.plats-btns {
  background-color: #f6f6f6;
  margin-top: 0;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 210px;
  padding-left: 25px;
  padding-right: 25px;
}
.plats-btns .title-menu {
  display: flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.plats-btns .title-menu .heart {
  align-self: flex-end;
  font-size: 12px;
  padding-bottom: 8px;
}
.plats-btns .title-menu .heart:hover {
  align-self: flex-end;
  font-size: 12px;
  padding-bottom: 8px;
}
.plats-btns .title-menu .heart:hover i {
  padding-top: 3px;
  padding-right: 10px;
}
.plats-btns .title-menu .heart:hover i:hover {
  color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-color: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  padding-right: 2px;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 30px;
}

h3 {
  font-weight: 100;
  width: 50px;
  position: relative;
  z-index: 1;
  border-bottom: 3px solid #b5e8db;
}

.btn-menu {
  font: 14px/2.3em trebuchet, arial;
  color: #353535;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  width: 320px;
  margin: 3px auto 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ccc;
  transition: all 300ms;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  height: 65px;
  padding-top: 30px;
  margin-bottom: 15px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  transform: translateY(20px);
  transform: translateY(10%);
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-menu .text-menu {
  flex-flow: column wrap;
  line-height: 25px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}
.btn-menu .text-menu h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  text-align: left;
}
.btn-menu .text-menu .descriptif-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.btn-menu .text-menu .descriptif-menu .animation-rect {
  display: flex;
  margin: -38px -120px -10px 10px;
  width: 60px;
  height: 65px;
  background-color: #99E2D0;
}
.btn-menu .text-menu .descriptif-menu .animation-rect i {
  color: white;
  align-self: center;
  padding-left: 25%;
  transform: rotate(10deg);
  transition-duration: 0.5s;
}
.btn-menu .text-menu .descriptif-menu .thon {
  width: 45%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .legumes {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .cepes {
  width: 65%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .poulet {
  width: 45%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .saison {
  width: 35%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .panais {
  width: 45%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .farandole {
  width: 70%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .creme {
  width: 70%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu .tiramisu {
  width: 65%;
  text-align: right;
  font-weight: bold;
}
.btn-menu .text-menu .descriptif-menu p {
  font-weight: bold;
  align-self: flex-end;
  text-align: right;
}
.btn-menu:last-child {
  margin-bottom: 0px;
}
.dish-1 {
  animation: slide-in 1s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-2 {
  animation: slide-in 0.7s 0.1s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-3 {
  animation: slide-in 0.7s 0.2s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-4 {
  animation: slide-in 0.7s 0.3s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-5 {
  animation: slide-in 0.7s 0.4s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-6 {
   animation: slide-in 0.7s 0.5s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-7 {
  animation: slide-in 0.7s 0.6s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-8 {
  animation: slide-in 0.7s 0.7s linear forwards;
  
            animation-duration: 0.3s;
  }
  
  .dish-9 {
  animation: slide-in 0.7s 0.8s linear forwards;
  
            animation-duration: 0.3s;
  }
  

@-webkit-keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}
.btn-menu:hover .text-menu h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-menu:hover .text-menu .descriptif-menu .tiramisu {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .creme {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .farandole {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .panais {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .saison {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .poulet {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .legumes {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .cepes {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu .thon {
  width: 25%;
  text-align: left;
}
.btn-menu:hover .text-menu .descriptif-menu p {
  transform: translateX(-60px);
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: right;
  position: relative;
  left: 30px;
}
.btn-menu:hover .text-menu .descriptif-menu span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  text-align: left;
  text-align: justify;
}
.btn-menu:hover .text-menu .descriptif-menu .animation-rect {
  transform: translateX(-100px);
  border-radius: 0 20px 20px 0;
}
.btn-menu:hover .text-menu .descriptif-menu .animation-rect i {
  color: white;
  align-self: center;
  padding-left: 25%;
  padding-right: 25%;
  -webkit-animation: quarterspin 0.8s ease-in;
          animation: quarterspin 0.8s ease-in;
  transform-origin: center;
  transition-duration: 0.6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 1);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 1);
}
@-webkit-keyframes quarterspin {
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes quarterspin {
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.btn-cmder {
  background-color: #f6f6f6;
  text-align: center;
}
.btn-cmder .Commander {
  margin-top: 50px;
  margin-bottom: 80px;
}

.btn-menu:last-child {
  margin-bottom: 50px;
}/*# sourceMappingURL=menu4.css.map */