
@import "/sass/utils/variables" ;



    .wrapper-grid{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(348px,1fr));
        width:100%;
        justify-items: center;
        gap:2px;
        justify-content: center;


    }

    /*BOUTON FONCTIONNEMENT*/
    .btn1{
        font: 14px/2.3em trebuchet,arial;
        color: #353535;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 25px 15px;
        width:320px;
        position:relative;
        margin: 3px auto 5px;
        border: 1px solid #ddd;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: 0 3px 5px #ccc;
        -webkit-box-shadow: 0 3px 5px #ccc;
        -o-box-shadow: 0 3px 5px #ccc;
        -ms-box-shadow: 0 3px 5px #ccc;
        box-shadow:0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
        transition:all 400ms;
    }

        /*BOUTON DE BASE HERO*/
    .btn-model{
        border:none;
        margin:20px;
        padding: 18px 15px 18px 15px;
        width:210px;
        font-family: $main-ffamily;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color:white;
        transition:all 400ms;
    }
