*{
    box-sizing:border-box;
}

html, body {
    margin: auto;
    position:relative;
    }

    h2{
        font-family: $main-ffamily;
        font-size:24px; 
        font-weight:800;
        text-align:center;
        padding:35px;
        letter-spacing: 0;
        padding-bottom: 0;
        margin:0;
    }

    p{
        text-align: center;
        font-family:$main-ffamily;
        font-size: 16px;
        font-weight: 300;
        margin:15px;  
    }